<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Sales</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="item_Weight" placeholder="item_Weight" required="required" />
            	<input type="text" name="item_Fat_Content" placeholder="Item_Fat_Content" required="required" />
            	<input type="text" name="item_Visibility" placeholder="Item_Visibility" required="required" />
            	<input type="text" name="item_Type" placeholder="Item_Type" required="required" />
            	<input type="text" name="item_MRP" placeholder="Item_MRP" required="required" />
            	<input type="text" name="outlet_Establishment_Year" placeholder="Outlet_Establishment_Year" required="required" />
            	<input type="text" name="outlet_Size" placeholder="Outlet_Size" required="required" />
            	<input type="text" name="outlet_Location_Type" placeholder="Outlet_Location_Type" required="required" />
            	<input type="text" name="outlet_Type" placeholder="Outlet_Type" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
